body {
  background-repeat: no-repeat; 
  background-size: 1300px;
  background-position: top;
}
h1 {
  text-align: center;
  font-family: sans-serif;
}
body{
  text-align: center;
}

p.pages{
  text-align: center;
}

a:link, a:visited {
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: purple
  cursor: pointer;
}